body {
  margin: 20;
  padding: 10px;
  font-family: Arial, sans-serif;
}
/* Container properties */
.container {
  /* width: 90%; */
  margin: 40px;
  background-color:blanchedalmond;
  padding: 80px;
  border-radius: 50px;
}
/* Header properties */
header {
  display:flex;
  margin-left: 50px;
  align-items: center;
  padding: auto;
  background-color: burlywood;
  color: rgb(30, 2, 6);
  border-radius: 10px;
  border-style: solid brown;
}
/* Main nav properties */
nav {
  margin: left 10px;
  padding: 40px;
}

nav a {
  color: rgb(30, 18, 2);
}
nav ul {
  list-style: none;
  padding: 30;
  margin: auto;
  display: flex;
}

nav li {
  margin-right: 35px;
}
/* Main image properties */
img {
  max-width: 150px;
  height: auto;
  margin-right: 50px;
  border-radius: 50px;
  width: inherit;
  padding: 30px;
}
.img certs{
  max-width: auto;
  height:auto;
  margin-right:auto;
}